[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pysocks = "*"
prometheus-client = "*"
Flask = "*"
waitress = "*"
pandas = "*"
toml = "*"

[dev-packages]

[requires]
python_version = "3.9"
